<mat-card>
    <mat-card-title>Actualizar datos Persona</mat-card-title>
    <mat-card-content>
      <form [formGroup]="personaFormControl">
        <mat-form-field>
          <input matInput placeholder="dni" [(ngModel)]="personaData.dni" formControlName ="dniFormControl">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="nombre" [(ngModel)]="personaData.nombre" formControlName ="nombreFormControl">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="apellido" [(ngModel)]="personaData.apellido" formControlName ="apellidoFormControl">
        </mat-form-field>
        <mat-form-field class="full-width">
          <textarea matInput placeholder="direccion" [(ngModel)]="personaData.direccion" formControlName ="direccionFormControl"></textarea>
        </mat-form-field>
        <mat-form-field class="full-width">
          <span matPrefix></span>
          <input matInput placeholder="telefono" [(ngModel)]="personaData.telefono" formControlName ="telefonoFormControl">
        </mat-form-field>   
        <mat-form-field class="full-width">
          <!-- <input matInput placeholder="email" [(ngModel)]="personaData.email" [formControl] ="emailFormControl" [errorStateMatcher]="matcher"> -->
          <input matInput placeholder="email" [(ngModel)]="personaData.email" [formControl] ="emailFormControl">
          <mat-hint align="end">email@domain.com</mat-hint>
          <mat-error align="end" *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Please enter a valid email address
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput placeholder="Valid Date" [(ngModel)]="personaData.fechaNacimiento" [max]="maxDate" [matDatepicker]="dateValid" [formControl] ="fechaNacimientoFormControl">
          <mat-datepicker-toggle matSuffix [for]="dateValid">
          </mat-datepicker-toggle>
          <mat-datepicker #dateValid></mat-datepicker>
          <mat-error align="end" *ngIf="fechaNacimientoFormControl.hasError('required')">
            A valid date mm/dd/yyyy is required
          </mat-error>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <!--<button mat-raised-button color="primary" (click)="openRepDialog()">Save</button>-->
      <!--<button mat-raised-button color="primary" (click)="openUndoSnackBar()">Save</button>-->
      <button mat-raised-button color="primary" [disabled]="!personaFormControl.valid" (click)="actualizarPersona()">Actualizar</button>
    </mat-card-actions>
  </mat-card>
  
